<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1{
        color: yellow;
        font-size: 100px;
        text-align: center;
        font-family: "Times New Roman", Times, serif;
    }
    </style>
<body>
    <h1>{{titulo_de_pagina}}</h1>
    <i><a href="/"> Ir a la página principal </a></i>
</body>
</html>