<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina terciaria</title>
</head>
<style>
    h1{
        color: blue;
        font-size: 100px;
        text-align: center;
        font-family: "Times New Roman", Times, serif;
    }
</style>

<body>
    <h1>{{titulo_de_pagina}}</h1>
    <i><a href="/empleados"> Ir a la página empleados </a></i>
    <i><a href="/clases"> Ir a la página clases </a></i>
    <i><a href="/horarios"> Ir a la página horarios</a></i>

</body>
</html>